.dropdown-container {
    position: relative;
}

.dropdown-items {
    position: absolute;
    list-style-type: none;
    background-color: #282828;
    color: #dfdfdf;

    top: 40px;
}

.dropdown-items li {
    width: auto;
    min-width: 100px;
    height: 30px;

    padding: 10px;

    display: flex;
    align-items: center;
}

.dropdown-items li:hover {
    background-color: #393939;
}

button.dropdown-button {
    font-size: 1.5rem;
    color: white;
    background: transparent;
    border: none;
}
